<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Edit User</h1>
      <%= form_for(@user) do |f| %>

        <div class="field">
          <%= f.label :first_name %>
          <%= f.text_field :first_name,  autocomplete: "first name", class: "form-control", required: true %>
        </div>

        <div class="field">
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name, autocomplete: "last name", class: "form-control", required: true %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: "form-control", autocomplete:"email" %>
        </div>

        <div class="field">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
        </div>

        <div class="field">
          <% Role.all.each do |role| %>
            <%= check_box_tag "user[role_ids][]", role.id, @user.role_ids.include?(role.id) %>
            <%= role.role_name %>
            <br />
          <% end %>
        </div>

        <div class="field">
          <%= f.label :major %><br />
          <%= f.text_field :major, autocomplete: "MAJR", class: "form-control", required: false %>
        </div>

        <div class="actions">
          <%= f.submit "Update", class: 'btn btn-primary mt-2' %>
        </div>
      <% end %>
      <br>
      <br>
      <h3>Cancel account</h3>

      <p><%= button_to "Cancel account", user_path(@user), data: { confirm: "Are you sure? This action cannot be undone." }, class: 'btn btn-danger', method: :delete %></p>

      <%= link_to "Back", :back %>
    </div>
  </div>
</div>
