<h1>Student Scheduling Page</h1>
<%= button_to "Cancel", {:action => 'show'}, :method => :get %>

<% if @sessions.blank? %>
<p>There are no available sessions to join.</p>
<% else %>
<p>Please select which session you would like to attend.</p>
<table>
  <tr>
    <th>Tutor Name</th>
    <th>Contact Info</th>
    <th>Scheduled Datetime</th>
  </tr>
  <% @sessions.each do |session| %>
    <tr>
      <!-- Make a row in the table for each tutoring session. Includes details and join option -->
      <% user = User.find(session.tutor_id) %>
      <td><%=  user.first_name + " " + user.last_name  %></td>
      <td><%= user.email %></td>
      <% date = session.scheduled_datetime.localtime.strftime("%B %d at %l:%M %p %Z") %>
      <td><%= date %></td>

      <% if session.users.find_by(id: @user.id).blank? %>
        <td><%= button_to "Join session", {:action => 'schedule_session_student', :sessionID => session},
                          :id => session.id, :method => :post %></td>
      <% else # Disable the button %>
        <td><%= button_to "Join session", {:action => 'schedule_session_student', :sessionID => session},
                          :disabled => true, :id => session.id, :method => :post %></td>
      <% end %>
    </tr>
  <% end %>
</table>
<%  end %>
