<div class="container">
  <div class="row">
    <div class="col mt-5">
      <h1>Join a Tutor Session</h1>
      <%= button_to "Cancel", {:action => 'index'}, :class => "btn btn-primary", :method => :get %>

      <!-- See if any tutoring sessions are present to join -->
      <% if @sessions.blank? %>
        <p class="mt-4">There are no available sessions to join.</p>
      <% else %>
        <p class="mt-4">Please select which session you would like to attend.</p>
        <table class="table" id="users">
          <thead>
            <tr>
              <th scope="col">Tutor Name</th>
              <th scope="col">Contact Info</th>
              <th scope="col">Scheduled Datetime</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% @sessions.each do |session| %>
              <tr class='userInfo'>
                <!-- Make a row in the table for each tutoring session. Includes details and join option -->
                <% user = User.find(session.tutor_id) %>
                <td><%= user.first_name + " " + user.last_name %></td>
                <td><%= user.email %></td>
                <% date = session.scheduled_datetime.localtime.strftime("%B %d at %l:%M %p %Z") %>
                <td><%= date %></td>

                <!-- Tutoring session should not be associated with the user -->
                <% if session.tutoring_session_users.find_by(id: @user.id).blank? or
                      session.tutoring_session_users.find_by(id: @user.id).link_status == 'denied' %>
                  <td><%= button_to "Join session", {:action => 'schedule_session_student', :sessionID => session},
                                    :id => session.id, :class => "btn btn-primary", :method => :post %></td>
                <% else # Disable the button %>
                  <td><%= button_to "Join session", {:action => 'schedule_session_student', :sessionID => session},
                                    :disabled => true, :id => session.id, :class => "btn btn-secondary",
                                    :method => :post %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>

  <script>
      $(function() {
          $('#users').DataTable();
      });
  </script>
</div>
