<!-- TODO: Make this render different based on role -->

<%= link_to "Home", root_path %>
<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<p>Email: <%= @user.email %></p>
<p>Major: <%= @user.major %></p>
<p>Student?: <%= @user.student? %></p>
<p>Tutor?: <%= @user.tutor? %></p>
<p>Spartan Tutor?: <%= @user.spartan_tutor? %></p>
<p>Admin?: <%= @user.admin? %></p>
