<div class="container">
  <div class="row">
    <div class="col-12">
      <%= link_to "Home", root_path %>
      <h1><%= @user.first_name %> <%= @user.last_name %></h1>
      <p>Email: <%= @user.email %></p>
      <p>Major: <%= @user.major %></p>
      <br>
      <% if @user.student? %>
      <p>Join a tutoring session:</p>
      <%= button_to "Schedule tutoring session", {:action => 'schedule_student'}, :method => :get %>
      <% end %>
      <br>
      <!-- Student role options -->
      <p>Student?: <%= @user.student? %></p>
      <p>Tutor?: <%= @user.tutor? %></p>
      <p>Spartan Tutor?: <%= @user.spartan_tutor? %></p>
      <p>Admin?: <%= @user.admin? %></p>
    </div>
  </div>
</div>
