<div class="container show-pending">
  <div class="row">
    <div class="col-12">
      <h1>Pending Tutoring Requests</h1>
      <p>
        These are students requesting to be tutored in some of your sessions.
        Make sure to email them the necessary information before accepting them!
      </p>
    </div>
    <div class="col-12 mt-3">
      <table class="table" id="users">
        <thead>
          <tr>
            <th scope="col">Session Link</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Tutoring Course</th>
            <th scope="col">Notes</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @pending_links.each do |link| %>
          <tr class="pending-link" data-target="<%= link.id %>">
            <td><%= link_to "Session Link", tutoring_session_path(link.tutoring_session), target: '_blank' %> </td>
            <td><%= link.user.first_name %> <%= link.user.last_name  %></td>
            <td><%= link.user.email  %></td>
            <td><%= link.user.session_course %></td>
            <td><%= link.user.student_notes %></td>
            <td>
              <button type="button" class="btn btn-link text-danger action" data-bs-toggle="modal" data-bs-target="#actionModal" data-action="Deny" data-formto="<%= "/tutoring_session_user/#{link.id}/deny" %>" data-recipient="<%= link.user.first_name %> <%= link.user.last_name %> (<%= link.user.email  %>)">
                <i class="fas fa-times"></i>
              </button>

              <button type="button" class="btn btn-link text-success action" data-bs-toggle="modal" data-bs-target="#actionModal" data-action="Confirm" data-formto="<%= "/tutoring_session_user/#{link.id}/confirm" %>" data-recipient="<%= link.user.first_name %> <%= link.user.last_name %> (<%= link.user.email  %>)">
                <i class="fas fa-check"></i>
              </button>
              <% #edit_user_path(user) %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= form_with id: 'actionForm' do |form| %>
  <div class="modal fade" id="actionModal" tabindex="-1" aria-labelledby="actionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="actionModalLabel">Confirm/deny student</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Student:</label>
            <%= form.text_field 'recipient-name', class: "form-control", id: "recipient-name", readonly: true  %>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <%= form.text_area 'message-text', class: "form-control", id: "message-text", rows: 5, required: true,
                    placeholder: 'Here you can include a zoom link or the reason they were denied' %>
          </div>
        </div>
        <div class="modal-footer">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Send email</button>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <script>
    $(function() {
      var exampleModal = document.getElementById('actionModal')
      actionModal.addEventListener('show.bs.modal', function(event) {
        // Button that triggered the modal
        var button = event.relatedTarget;
        // Extract info from data-bs-* attributes
        let recipient = button.getAttribute('data-recipient');
        let formto = button.getAttribute('data-formto');
        let action = button.getAttribute('data-action');

        // If necessary, you could initiate an AJAX request here
        // and then do the updating in a callback.
        //
        // Update the modal's content.
        let modalTitle = exampleModal.querySelector('.modal-title');
        let modalBodyInput = exampleModal.querySelector('.modal-body input');

        $('#actionForm').attr('action', formto);

        modalTitle.textContent = action + ' student';
        modalBodyInput.value = recipient;
      });
      $('#users').DataTable();
      // $('#users').api().columns().every(function () {
      //   console.log('test');
      //   var column = this;
      //   var select = $('<select class="form-select"><option value=""></option></select>')
      //     .prependTo($(column.header()))
      //     .on('change', function() {
      //       var val = $.fn.dataTable.util.escapeRegex(
      //         $(this).val()
      //       );

      //       column
      //         .search(val ? '^'+val+'$' : '', true, false)
      //         .draw();
      //     });

      //   column.data().unique().sort().each(function (d, j) {
      //     select.append('<option value="'+d+'">'+d+'</option>')
      //   });
      // });
    });
  </script>
</div>