
<div class="container">
  <div class="row">
    <div class="col-12 mt-3">
      <h2> Add/Remove Courses </h2>
      <%= form_for(current_user) do |f| %>
      <div class="actions">
        <%= f.submit "Update", class: 'btn btn-primary mt-2' %>
      </div>
      <div class="field">
      <table class="table" id="course">
        <thead>
          <tr>
            <th scope="col">Select</th>
            <th scope="col">Department</th>
            <th scope="col">Course Number</th>
            <th scope="col">View</th>
          </tr>
        </thead>
        <tbody>
          <% Course.all.each do |course| %>
          <tr class='courseInfo'>
            <td><%= check_box_tag "user[course_ids][]", course.id, @user.courses.include?(course) %></td>
            <td><%= Department.find_by(id: course.department_id).department_name %></td>
            <td><%= course.course_name %></td>
            <td><a href="<%= course_path(course) %>"><i class="far fa-edit"></i></a></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      </div>
      <%end%>
    </div>
  </div>

  <script>
    $(function() {
      $('#course').DataTable();
      // $('#course').api().columns().every(function () {
      //   console.log('test');
      //   var column = this;
      //   var select = $('<select class="form-select"><option value=""></option></select>')
      //     .prependTo($(column.header()))
      //     .on('change', function() {
      //       var val = $.fn.dataTable.util.escapeRegex(
      //         $(this).val()
      //       );

      //       column
      //         .search(val ? '^'+val+'$' : '', true, false)
      //         .draw();
      //     });

      //   column.data().unique().sort().each(function (d, j) {
      //     select.append('<option value="'+d+'">'+d+'</option>')
      //   });
      // });
    });
  </script>
</div>
