<h1>Tutor Matching Page</h1>
form_for @create_request, url: '/tutor/index'(@create_request), html: { method: :put } do |f|
    render 'form', f: 

<%=form_tag('index', :method => "get", :controller => 'tutor' ) do %>
    <%= label_tag(:filter_major, "Course Department: ") %> 
    <br>
        <%= text_field_tag(:filter_major) %>
    <br>
        <%= submit_tag("Find") %> 
<%end%>

<% if @matching_tutors.present? == false %>
    <p> 
        <%= @no_tutors %>
        <br>
        <%= @ask_request %> 
        <%=form_tag('request_submission', :method => "post", :controller => 'tutor' ) do %>
            <%= label_tag(:requested_course, "Requested Course Department and Number: ") %> 
            <br>
                <%= text_field_tag(:requested_course) %>
            
                <%= submit_tag("Submit") %> 
        <%end%>
        <%= form_for(@courserequest) do |f| %>
            <%= f.label :course_name_full %>:
            <%= f.text_field :course_name_full %> <br/>

            <%= f.submit %>
        <% end %>
        <br>

    </p>
<% else %>
    <ul>
    <% @matching_tutors.each do |user| %>
        <% if user.major.nil? == false %>
        <!-- makes sure users with no majors are not displayed -->
            <li>
                <%= link_to user.first_name.to_s + ' ' + user.last_name.to_s + ' Major: ' + user.major.to_s, user %>
            </li>
            <% end %>
        <% end %>
    </ul>    

<%end%>
