<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Review Scheduled Sessions</h1>
    </div>
  </div>
    <table class="table" id="tutor_matches">
      <thead>
        <tr>
          <th scope="col">Student Name</th>
          <th scope="col">Tutor Name</th>
          <th scope="col">Tutoring Subject</th>
          <th scope="col">Scheduled Datetime</th>
          <th scope="col">Notes</th>
        </tr>
      </thead>
      <tbody>
      <% @students.each do |student| %>
          <% student_sessions = student.tutoring_sessions %>
          <% if student_sessions.nil? %>
          <!-- no sessions scheduled, do not display -->
          <% else %>
              <% student_sessions.each do |session| %>
                  <tr class="tutoringSession">
                    <td><%= link_to student.first_name + " " + student.last_name, student %></td>
                    <% tutor = User.find(session.tutor_id) %>
                    <td><%= link_to tutor.first_name + " " + tutor.last_name, tutor %></td>
                    <% grab_notes = TutoringSessionUser.find_or_create_by(tutoring_session: session, user: student)%>
                    <td><%= grab_notes.session_course%></td>
                    <% date = session.scheduled_datetime.localtime.strftime("%B %d at %l:%M %p %Z") %>
                    <td><%= date %></td> 
                    <td><%= grab_notes.student_notes%></td>  
                  </tr>
              <% end %>
          <% end %>
      <% end %>
      </tbody>
    </table>
    <script>
      $(function() {
        $('#tutor_matches').DataTable();
      });
    </script>
</div>
