<div class="container">
    <div class="row">
        <div class="col-12">
        <h1>Tutor Matching Page</h1>
            <%= button_to "Search by Specific Class", {:action => 'tutor_match_by_course'}, :method => :get, :class => "btn btn-primary float-left"  %>
                <%=form_tag('/course_request', :method => "get", :controller => 'course_request' ) do %>
                    <%= label_tag(:filter_major, "Course Department: ") %>
                    <div class="mb-3">
                        <%= text_field_tag(:filter_major, "", :class => 'form-control',  :required => true) %>
                        <br><br>
                        <%= submit_tag("Find", :class => "btn btn-primary float-left") %>
                    </div>
                <%end%>
                <table class="table" id="tutors">
                <thead>
                    <tr>
                        <th scope="col">Tutor Name</th>
                        <th scope="col">Contact Info</th>
                        <th scope="col">Scheduled Datetime</th>
                        <th scope="col">Session Link</th>
                    </tr>
                </thead>
                <tbody>
                    <% if @matching_tutors.nil? == false %>
                        <% @matching_tutors.each do |user| %>
                            <% if user.major.nil? == false %>
                                <% if user.tutor? %>
                                    <% @sessions.each do |session| %>
                                        <% if user.id == session.tutor_id %>
                                            <% student_session_status = TutoringSessionUser.find_or_create_by(tutoring_session: session, user: current_user).link_status%>
                                            <% if session.tutor_id == current_user.id || 
                                                session.session_status == ("Confirmed" || "In-Person") || 
                                                student_session_status == ("pending" || "denied" || "confirmed") %>                                                    
                                            <% else  %>
                                                <tr class= tutorInfo>
                                                    <td><%=user.first_name + " " + user.last_name%></td>
                                                    <td><%=user.email%></td>
                                                    <% date = session.scheduled_datetime.in_time_zone("Central Time (US & Canada)").strftime("%B %d at %l:%M %p %Z") %>
                                                    <td><%= date %></td>
                                                    <td><%= button_to "Join session", {:action => 'session_confirmation', :sessionID => session},
                                                    :id => session.id, :disabled => false, :class => "btn btn-primary", :method => :post %></td>
                                                </tr>
                                            <% end %>
                                        <% end %>
                                    <% end %>
                                <% end %>
                            <% end %>
                        <% end %>
                    <% end %>
                </tbody>
                </table>
            <br>
            <h6>Can't find the class you're looking for?</h6>
            <%= button_to "Submit a request", {:action => 'new'}, :method => :get, :class => "btn btn-primary float-left"  %>
            <br>
            <h6>Looking for the Spartan Tutoring schedule?</h6>
            <%= link_to "Spartan Tutoring Calendar", "https://www.spartan-tutoring.com/calendar", :target => "_blank", :class => "btn btn-primary float-left"   %>
        </div>
    </div>

    <script>
      $(function() {
        $('#tutors').DataTable();
        // $('#tutors').api().columns().every(function () {
        //   console.log('test');
        //   var column = this;
        //   var select = $('<select class="form-select"><option value=""></option></select>')
        //     .prependTo($(column.header()))
        //     .on('change', function() {
        //       var val = $.fn.dataTable.util.escapeRegex(
        //         $(this).val()
        //       );

        //       column
        //         .search(val ? '^'+val+'$' : '', true, false)
        //         .draw();
        //     });

        //   column.data().unique().sort().each(function (d, j) {
        //     select.append('<option value="'+d+'">'+d+'</option>')
        //   });
        // });
      });
    </script>

</div>