<h1>Tutor Matching Page</h1>

<%=form_tag('index', :method => "get", :controller => 'course_request' ) do %>
    <%= label_tag(:filter_major, "Course Department: ") %> 
    <br>
        <%= text_field_tag(:filter_major) %>
    <br>
        <%= submit_tag("Find") %> 
<%end%>

<% if @matching_tutors.present? == false %>
    <p> 
        <%= @no_tutors %>
        <br>
        <%= @ask_request %> 
        <%= button_to "See all requests", {:action => 'new'}, :method => :get %>

    </p>
<% else %>
    <ul>
    <% @matching_tutors.each do |user| %>
        <% if user.major.nil? == false %>
        <!-- makes sure users with no majors are not displayed -->
            <li>
                <%= link_to user.first_name.to_s + ' ' + user.last_name.to_s + ' Major: ' + user.major.to_s, user %>
            </li>
            <% end %>
        <% end %>
    </ul>    

<%end%>

