<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="mb-4 mt-3"> Request Page </b>
        <%= form_with model: @crequest, url: course_request_index_path do |f| %>
        <% if @crequest.errors.any? %>
        <div class="mb-5">
          <ul>
            <% @crequest.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
          <% end %>
        </div>
        <div class="mb-3 field">
          <%= f.label :course_name_full %><br>
          <%= f.text_field :course_name_full, class: "form-control", required: true %>
        </div>

        <div>
          <%= f.submit class: "btn btn-primary float-left" %><br><br>
          <br>
        </div>

        <%end%>

        <%= button_to "Return to Tutor Matching", {:action => 'index'}, :method => :get,  class: "btn btn-primary float-left" %>
    </div>
  </div>
</div>