<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="mb-4 mt-3">Request Confirmation Page</h1>
      <%=form_tag('/course_request/schedule_session_student_cr',  :method => "post", :controller => 'course_request' ) do %>
        <div class="mb-3">
            <%= label_tag(:session_course, "Tutored Course: ") %> 
            <%= text_field_tag(:session_course, "", :class => 'form-control',  :required => true) %>
            
            <%= label_tag(:student_notes, "Notes: ") %> 
            <%= text_area_tag(:student_notes,"", :class => 'form-control', :required => false) %>
            <%= hidden_field_tag(:sessionID, @selected_session) %>
            <br>
            <%= submit_tag("Confirm", :class => "btn btn-primary float-left", params: { "session_course" => :session_course, 
                                                                                        "student_notes" => :student_notes, 
                                                                                        "sessionID" => :sessionID}) %> 
        </div>
      <%end%>
      <%= button_to "Return to Tutor Matching", {:action => 'index'}, :method => :get,  class: "btn btn-primary float-left" %>
    </div>
  </div>
</div>