<div class="container">
  <div class="row">
    <div class="col-12">
    <h1>Find a Tutor by Course</h1>
        <%= button_to "Search by Major", {:action => 'index'}, :method => :get, :class => "btn btn-primary float-left"  %>
        <br>
        <%= form_tag('tutor_match_by_course', :method => "get", :controller => 'course_request') do %>

        <div class="field">
            <%= label_tag :department_id %>
            <%= select_tag :department_id, options_for_select(Department.all.collect {|c| [ c.department_name, c.id ] }, { include_blank: true }) %>
        </div>

        <div class="field">
            <%= label_tag :course_name %>
            <%= text_field_tag :course_name, "", class: "form-control", required: true %>
        </div>

        <div class="actions">
            <%= submit_tag "Find", class: 'btn btn-primary mt-2' %>
        </div>

        <% end %>
            <div class="row">
                <div class="col-12 mt-3">
                  <br><p>Searching sessions up to two weeks from now.<p/>
                    <table class = "table" id= "tutors">
                        <thead>
                            <tr>
                                <th scope="col"><h4>Tutor Name</h4></th>
                                <th scope="col"><h4>Contact Info</h4></th>
                                <th scope="col"><h4>Scheduled Datetime</h4></th>
                                <th scope="col"><h4>Session Link</h4></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @tutors.each do |user| %>
                                <% if user.courses.nil? %>
                                    <!-- move on -->
                                <% elsif user.tutor? %>
                                    <!-- has tutoring courses and is a tutor -->
                                    <% match = false %>
                                    <% user.courses.each do |course| %>
                                            <% if course.id == @course.ids.first %>
                                                <% match = true %>
                                            <% end %>
                                    <%end%>
                                    <% if match ==true %>
                                        <% @sessions.each do |session| %>
                                        <tr class = tutorInfo>
                                            <% if user.id == session.tutor_id %>
                                                <td><%=user.first_name + " " + user.last_name%></td>
                                                <td><%=user.email%></td>
                                                <!-- Make a row in the table for each tutoring session. Includes details and join option -->
                                                <% date = session.scheduled_datetime.in_time_zone("Central Time (US & Canada)").strftime("%B %d at %l:%M %p %Z") %>
                                                <td><%= date %></td>

                                                <!-- Tutoring session should not be associated with the user -->
                                                <% if session.tutoring_session_users.find_by(id: user.id).blank? or
                                                        session.tutoring_session_users.find_by(id: user.id).link_status == 'denied' %>

                                                        <td><%= button_to "Join session", {:action => 'session_confirmation', :sessionID => session},
                                                        :id => session.id, :class => "btn btn-primary", :method => :post %></td>

                                                        <% else  %>
                                                        <!-- Disable the button -->
                                                        <td><%= button_to "Join session", {:action => 'session_confirmation', :sessionID => session},
                                                                                                                    :disabled => true, :class => "btn btn-secondary",
                                                                                                                    :method => :post %></td>
                                                    <% end %>
                                            <% end %>
                                        </tr>
                                        <% end %>
                                    <% end %>
                                <% end %>
                            <% end %>

                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <h6>Can't find the class you're looking for?</h6>
            <%= button_to "Submit a request", {:action => 'new'}, :method => :get, :class => "btn btn-primary float-left"  %>
            <h6>Looking for the Spartan Tutoring schedule?</h6>
            <%= link_to "Spartan Tutoring Calendar", "https://www.spartan-tutoring.com/calendar", :target => "_blank", :class => "btn btn-primary float-left"   %>
        </div>
        </div>
    </div>

    <script>
      $(function() {
        $('#tutors').DataTable();
        // $('#tutors').api().columns().every(function () {
        //   console.log('test');
        //   var column = this;
        //   var select = $('<select class="form-select"><option value=""></option></select>')
        //     .prependTo($(column.header()))
        //     .on('change', function() {
        //       var val = $.fn.dataTable.util.escapeRegex(
        //         $(this).val()
        //       );

        //       column
        //         .search(val ? '^'+val+'$' : '', true, false)
        //         .draw();
        //     });

        //   column.data().unique().sort().each(function (d, j) {
        //     select.append('<option value="'+d+'">'+d+'</option>')
        //   });
        // });
      });
    </script>

</div>
