
<div class="container">
  <div class="row">
    <div class="col-12 mt-3">
      <p><%= link_to "Create New Course", new_course_path  %></p>
      <p><%= link_to "Add Existing Course", edit_tutor_path(current_user) %>
      <h1>All Courses<h2>
      <table class="table" id="courses">
        <thead>
          <tr>
            <th scope="col">Department</th>
            <th scope="col">Course</th>
            <th scope="col">View</th>
          </tr>
        </thead>
        <tbody>
          <% @courses.each do |course| %>
          <tr class='courseInfo'>
            <td><%= Department.find_by(id: course.department_id).department_name %></td>
            <td><%= course.course_name  %></td>
            <td><a href="<%= course_path(course) %>"><i class="far fa-edit"></i></a></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
