<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>New Course Page</h1>
      <p><%= link_to "Create New Department", new_department_path  %></p>
      <%= form_for @course do |f| %>

      <div class="field">
        <%= f.label :department_id %>
        <%= f.select(:department_id, Department.all.collect {|c| [ c.department_name, c.id ] }, { include_blank: true }) %>
      </div>

      <div class="field">
        <%= f.label :course_name %>
        <%= f.text_field :course_name,  autocomplete: "101", class: "form-control", required: true %>
      </div>

      <div class="field">
        <%= f.label :spartan, "Does this class require Spartan Tutoring?" %>
        <%= f.check_box :spartan %>
      </div>

      <div class="actions">
        <%= f.submit "Create", class: 'btn btn-primary mt-2' %>
      </div>

      <%= link_to "Back", :back %>
      <% end %>
    </div>
  </div>
</div>