<<<<<<< Updated upstream
<h1>Courses#new</h1>
<p>Find me in app/views/courses/new.html.erb</p>
=======
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>New Course Page</h1>
      <%= form_for(Course.new) do |f| %>

        <div class="field">
          <%= f.label :department_id %>
          <%= f.select(:department_id, Department.all.collect {|c| [ c.department_name, c.id ] }, { include_blank: true }) %>
        </div>

        <div class="field">
          <%= f.label :course_name %>
          <%= f.text_field :course_name,  autocomplete: "101", class: "form-control", required: true %>
        </div>

        <div class="actions">
          <%= c.submit "New", class: 'btn btn-primary mt-2' %>
        </div>

      <% end %>
    </div>
  </div>
</div>
>>>>>>> Stashed changes
