<div class="container">
  <div class="row">
    <div class="col-5 mt-5">
      <%= button_to 'Back', '/spartan_sessions/' + @suser.spartan_session_id.to_s, :class => "btn btn-primary",
                    :method => :get %>
    </div>
  </div>
  <div class="row">
    <div class="col-7 mt-5">
      <!-- Show user info so we know it's the right person -->
      <h1><%= @user.first_name + ' ' + @user.last_name %></h1>
      <h4><%= @user.email %></h4>
      <% if @suser.first_checkin.nil? %>
        <p>This person never checked in.</p>
      <% else %>
        <p class="mb-0">Check In: <%= @suser.first_checkin.localtime.strftime("%B %d %Y at %l:%M %p") %></p>
        <% if @suser.second_checkin.nil? %>
          <p>This person never checked out.</p>
        <% else %>
          <p>Check Out: <%= @suser.second_checkin.localtime.strftime("%B %d %Y at %l:%M %p") %></p>
        <% end %>
      <% end %>

      <!-- Provide area for user to give attendance notes to update -->
      <%= form_with model: @spartan_session_users, :url => {:action => 'update_attendance',
                                                            :user_id => @user.id },
                    include_id: false do |form| %>
        <div class="input-group">
        <%= form.label :attendance_notes, :class => "input-group-text" %><br>
        <%= form.text_field :attendance_notes, value:@suser.attendance, :class => "form-control" %>
        <%= form.submit "Update attendance", class: "btn btn-outline-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>