<div class="container">
  <div class="row">
    <div class="col mt-5">
      <td><%= button_to 'New Spartan Session', {:action => 'new'},
                        :class => "btn btn-primary", :method => :get %></td>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-3">
      <table class="table" id="users">
        <thead>
        <tr>
          <th scope="col">Course</th>
          <th scope="col">Semester</th>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Check In Code</th>
          <th scope="col">Check Out Code</th>
          <th scope="col">View Attendance</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <% @sessions.each do |session| %>
          <tr class='userInfo'>
            <td><%= session.course %></td>
            <td><%= session.semester %></td>
            <td><%= session.session_datetime.localtime
                                            .in_time_zone("Central Time (US & Canada)")
                                            .strftime("%B %d") %></td>
            <td><%= session.session_datetime.localtime
                                            .in_time_zone("Central Time (US & Canada)")
                                            .strftime("%l:%M %p %Z") %></td>
            <td><%= session.first_code  %></td>
            <td><%= session.second_code  %></td>
            <td><%= button_to 'View Attendance', {:action => 'show', :id => session.id},
                              :class => "btn btn-primary", :id => session.id, :method => :get %></td>
            <td><%= button_to 'Edit', {:action => 'edit', :id => session.id},
                              :class => "btn btn-primary", :id => session.id, :method => :get %></td>
            <td><%= button_to 'Delete', {:action => 'delete', :id => session.id},
                              :class => "btn btn-primary", :id => session.id %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <script>
      $(function() {
          $('#users').DataTable();
      });
  </script>
</div>