<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="mt-5">
      <h1 class="mt-3">Create Spartan Session</h1>
      <%= form_with(model: @spartan_session, url: 'create') do |form| %>
        <div class="mb-3">
          <%= form.label :course %>
          <%= form.text_field  :course, class: "form-control" %>
          <%= form.label :semester %>
          <%= form.text_field  :semester, class: "form-control" %>
          <%= form.label :session_datetime %><br>
          <%= form.datetime_field  :session_datetime, class: "form-control", required: true %>
          <%= form.label :check_in_code %>
          <%= form.text_field :check_in_code, class: "form-control", required: true %>
          <%= form.label :check_out_code %>
          <%= form.text_field :check_out_code, class: "form-control", required: true %>
        </div>
        <%=link_to "Cancel", 'index', class: 'btn btn-danger' %>
        <%= form.submit class: "btn btn-primary float-right" %>
      <% end %>
    </div>
  </div>
</div>
