<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="mb-4 mt-3">Create Tutoring Session</h1>
      <%= form_for :tutoring_session, url: tutoring_session_index_path do |f| %>
        <div class="mb-3">
          <%= f.label :scheduled_datetime %><br>
          <%= f.datetime_field  :scheduled_datetime, class: "form-control", required: true %>
        </div>
        <div class="mb-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="repeatSessionDate">
            <label class="form-check-label" for="repeatSessionDate">
              Repeat schedule session for following weeks (Dev: This does nothing yet :] )
            </label>
          </div>
        </div>
        <%=link_to "Cancel", root_path, class: 'btn btn-danger' %>  
        <%= f.submit class: "btn btn-primary float-right" %>
      <% end %>
    </div>
  </div>
</div>