<div class="container">
  <div class="row">
    <div class="col-12">
      <%=link_to "Back", tutoring_session_index_path %>
      <h1>
        Tutoring Session
      </h1>
      <p>
        Session scheduled for 
        <%= @tsession.scheduled_datetime.to_date.to_formatted_s(:long_ordinal) %> at
        <%= @tsession.scheduled_datetime.strftime("%I:%M %p")  %>
      </p>
      <p class="mb-0">
        Current Users:
      </p>
      <p>
      <% @tsession.users.each do |user| %>
        <%= user.first_name %> <%= user.last_name %> 
      <% end %>
      </p>
      <p class="mt-5"><%= link_to 'edit', edit_tutoring_session_path(@tsession) %> | 
            <%= link_to 'delete', tutoring_session_path(@tsession),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
              | 
            <%= link_to 'delete self and following repeats', tutoring_session_path(@tsession, :delete_repeating => true),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></p>
    </div>
  </div>  
</div>