<!DOCTYPE html>
<html>

<head>
  <title>OR Tutoring</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag asset_path('grad_hat.ico') %>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />


  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap5.min.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js"></script>

</head>

<body>
  <div class="container-fluid bg-light p-0">
    <nav class="navbar navbar-expand-lg navbar-light container">
      <%=link_to "OR Tutoring", root_path, class: 'navbar-brand' %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <%=link_to "Help", "/help", class: 'nav-link' %>
          </li>
          <% if current_user %>
          <li class="nav-item">
            <%=link_to "Find a Tutor", course_request_index_path, class: 'nav-link', text: 'Tutor Matching'  %>
          </li>
          <li class="nav-item">
            <%= link_to 'My Schedule', show_schedule_path, class: 'nav-link'  %>
          </li>
          <li class="nav-item">
            <%= link_to 'My Account', user_path(current_user), class: 'nav-link' %>
          </li>
          <% if current_user && current_user.roles.include?(Role.tutor_role) %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="tutorDropdown" data-bs-toggle="dropdown" aria-expanded="false">
              Tutor Pages
            </a>

            <ul class="dropdown-menu" aria-labelledby="tutorDropdown">
              <li><a class="dropdown-item" <%=link_to "Tutor Calendar", tutoring_session_index_path, class: 'nav-link' %></a></li>
              <li><a class="dropdown-item" <%=link_to "My Courses", tutor_path(current_user), class: 'nav-link' %></a></li>
              <li><a class="dropdown-item"   <%=link_to "Pending Tutoring Requests", "/tutoring_session/pending", class: 'nav-link' %></a></li>
              <li><a class="dropdown-item"   <%=link_to "Confirmed Tutoring Sessions", "/tutor/confirmed", class: 'nav-link' %></a></li>
              <li><a class="dropdown-item"   <%=link_to "Open Tutoring Sessions", "/tutor/open", class: 'nav-link' %></a></li>
            </ul>
          </li>
          <% end %>

          <!-- TEMPORARY UNTIL EMAIL SET UP -->
          <% if current_user && current_user.roles.include?(Role.admin_role) %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="adminDropdown" data-bs-toggle="dropdown" aria-expanded="false">
              Admin Pages
            </a>

            <ul class="dropdown-menu" aria-labelledby="adminDropdown">
              <li><a class="dropdown-item" <%= link_to 'Get Tutoring Hours', '/users/admin_view_hours' , class: 'nav-link' %></a></li>
              <li><a class="dropdown-item" <%= link_to 'Spartan Session Index', '/spartan_sessions' , class: 'nav-link' %></a></li>
              <li><a class="dropdown-item" <%= link_to 'Department Index', '/departments/index' , class: 'nav-link' %></a></li>
              <li><a class="dropdown-item" <%= link_to 'Course Index', '/courses/index' , class: 'nav-link' %></a></li>
              <li><a class="dropdown-item" <%= link_to 'See Tutor Matches', '/course_request/admin_view_tutor_matches' , class: 'nav-link' %></a></li>
              <li><a class="dropdown-item" <%= link_to 'See Course Requests', '/course_request/admin_view_course_requests' , class: 'nav-link' %></a></li>
            </ul>
          </li>
          <% end %>
          <% else %>
          <li class="nav-item">
            <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link'%>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
          </li>
          <% end %>

        </ul>
        <ul class="navbar-nav">
          <% if current_user %>
          <li class="nav-item">
            <div class="nav-link pb-0">
              <%= current_user.email%>
            </div>
            <div>
              <%= link_to 'Sign out', destroy_user_session_path, class: 'nav-link pt-0',
              method: :delete %>
            </div>
          </li>
          <% end%>

        </ul>
      </div>
    </nav>
  </div>
  <div class="container">
    <div devise notices and allerts>
      <% if notice %>
      <div class="notice alert alert-success"><%= notice %></div>
      <% end %>
      <% if alert %>
      <div class="alert alert-warning"><%= alert %></div>
      <% end %>
    </div>
    <div class="notifications">
      <% @notifications.each do |noti| %>
      <div class="alert alert-warning">
        You have pending tutor requests. Check them <a href="<%= "/notifications/#{noti.id}/" %> ">here</a>.
      </div>
      <% end %>
    </div>
  </div>
  <%= yield %>
</body>

</html>
